$border = rgba(0,0,0,0.2)
$background = rgba(255,255,255,0.9)
$check = rgba(106, 197, 163, 0.8)
$delete = rgba(255, 133, 133, 0.8)

.listBox
	padding-top 10px
	border-top 1px solid rgba(255,255,255,0.1)
	li
		width 100%
		display flex
		transition 0.4s
		margin 10px 0
		>*
			height 100%
			&:first-child
			&:last-child
				color white
				line-height 36px
				height 38px
				width 38px
				text-align center
				border 1px solid $border
				border-radius 999em
				cursor pointer
		.checkBox
			background $check
			transform scale(0.75) rotate(0deg)
			transition 0.4s
			opacity 0.05
			&.check
				transform scale(0.75) rotate(360deg)
				opacity 1
			&:hover
				transform scale(1) rotate(360deg)
				opacity 1
			&:active
				transform scale(1.5) rotate(360deg)
		.deleteLi
			background $delete
			position relative
			transform scale(0.75) rotate(45deg)
			transition 0.4s
			opacity 0.05
			&:before
				content ""
				width 2px
				height 16px
				background white
				position absolute
				top 10px
				left 17px
			&:after
				content ""
				width 16px
				height 2px
				background white
				position absolute
				top 17px
				left 10px
			&:hover
				transform scale(1) rotate(405deg)
				opacity 1
			&:active
				transform scale(1.5) rotate(405deg)
		.text
			border 1px solid $border
			border-radius 4px
			background $background
			padding 10px
			margin 0 10px
			flex 1
			transition 0.4s
			outline none
			line-height 1.3em
			&:hover
				box-shadow 0 0 4px $border
				background white
			&:focus
				transform scale(1.2)
				background white
		